
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
	--background-color: hsl(0, 0%, 0%);
	--text-color: hsl(0, 0%, 100%);
	--control-border-color: hsl(0, 0%, 50%);
}

body {
	display: flex;
	height: 100vh;
	width: 100vw;
	
	overflow: hidden;
	background-color: var(--background-color);
	color: var(--text-color);
}

.controls {
	width: clamp(220px, 15%, 300px);
	display: flex;
	flex-direction: column;

	padding: 1rem;
	gap: 2rem;
	border-right: 2px solid var(--control-border-color);
}

.sliders-container {
	display: flex;
	flex-direction: column;

	padding: 0 1rem;
	flex-grow: 1;
	gap: 1rem;
	overflow-x: hidden;
}

.slider-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.canvas-container {
	flex-grow: 1;
}

