
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
	--background-color: hsl(0, 0%, 0%);
	--text-color: hsl(0, 0%, 100%);
	--control-border-color: hsl(0, 0%, 50%);
}

body {
	display: flex;

	height: 100vh;
	width: 100vw;
	
	overflow: hidden;
	background-color: var(--background-color);
	color: var(--text-color);
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem;
	border-right: 1px solid var(--control-border-color);
}

button {
	padding: 0.2rem;
}

.slider-container {
	display: flex;
	flex-direction: column;
}

.canvas-container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

